{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.slug) }} 
{{ form_row(form.content) }}

<div id="metaTitle" data-constraints="{{ form.metaTitle.vars.errors.form.config.options.constraints[1]|json_encode }}">
	{{ form_label(form.metaTitle) }}
	<error-title :message-title="errorTitleMessage" ></error-title>
	{{ form_widget(form.metaTitle, {'attr': {'v-on:keyup':'onCheckLength'}}) }}
</div>
<div id="metaDescription" data-constraints="{{ form.metaDescription.vars.errors.form.config.options.constraints[1]|json_encode }}">
	{{ form_label(form.metaDescription) }}
	<error-description :message-description="errorDescriptionMessage" ></error-description>
	{{ form_widget(form.metaDescription, {'attr': {'v-on:keyup':'onCheckLength'}}) }}
</div>

{{ form_row(form.keywords) }}
{{ form_row(form.category) }}
{{ form_row(form.concert_location) }}
{{ form_row(form.concert_expected_at) }}

<fieldset class="form-group" id="imageFields" data-counter="{{ form.images|length }}" data-images="{{ images|json_encode() }}">
	<legend class="col-form-label">{{ form.images.vars.label }}</legend>
	<div id="{{ form.images.vars.id }}">
		<ul id="images-fields-list" class="list-group">
			<image-field v-for="(n, index) in counter" :key="index" :fieldid="index" :image="images[index]"></image-field>
		</ul>
	</div>

	<a href="#" v-on:click="addImageField">
		<i class="fas fa-plus"></i>
		Ajouter une image
	</a>

</fieldset>
<button class="btn btn-success my-5">{{ button_label|default('Save') }}</button>

{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

{% block javascripts %}
	{{ encore_entry_script_tags('postForm') }}
{% endblock %}