{% extends 'base-admin.html.twig' %}

{% block title %}Index des articles{% endblock %}
{% block h1 %}Index des articles{% endblock %}
{% block entity %}Articles{% endblock %}
{% block body %}
	<a href="{{ path('posts_new') }}" class="btn btn-success my-5">Create new</a>

	<table class="table">
		<thead>
			<tr>
				<th>
					{{ knp_pagination_sortable(posts, 'Titre', 'title') }}
				</th>
				<th>
					{{ knp_pagination_sortable(posts, 'Créé le', 'created_at') }}
				</th>
				<th>
					{{ knp_pagination_sortable(posts, 'Categorie', 'category.name') }}
				</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
		{% for post in posts %}
			<tr>
				<td>{{ post.title }}</td>
				<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>{{ post.category ? post.category.name : '' }}</td>
				<td>
					<a href="{{ path('posts_show', {'id': post.id}) }}" class="btn btn-primary" ><i class="fas fa-glasses"></i></a>
					<a href="{{ path('posts_edit', {'id': post.id}) }}" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
					{{ include('posts/_delete_form.html.twig') }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
		<div>
			{{ knp_pagination_render(posts) }}
		</div>
	</table>
	<div>
		{{ knp_pagination_render(posts) }}
	</div>

	<a href="{{ path('posts_new') }}" class="btn btn-success my-5">Create new</a>
{% endblock %}
