<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% set banner = links()|filter( link => link.position == 'banner' )|first %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Tunkal">
        <meta name="copyright" content="Copyright © 2019-{{ 'now' | date('Y') }} Tunkal. All rights reserved.">

       	{# Instagram #}
        <meta property="og:site_name" content="Tunkal">

		{% if banner is defined and banner != false %}
        	<meta property="og:image" content="{{ asset('images/'~ banner.image)|imagine_filter('min300') }}">
		{% endif %}
	    <meta property="og:image:width" content="300">
        {# Fin Instagram #}

        {% block head %}{% endblock %}

		{% set xicon = links()|filter( link => link.position == 'xicon' )|first %}
		{% if xicon is defined and xicon != false %}
			<link rel="shortcut icon" href="{{ asset('images/'~ xicon.image) }}" type="image/x-icon">
		{% endif %}
		

		<title>
			{% block title %}Guitariste de Thrash Death Metal Bourgogne Mâcon - Tunkal
			{% endblock %}
		</title>

		<!-- Font Awesome Icons -->
        <link rel="stylesheet" href="{{ asset('adminlte/plugins/fontawesome-free/css/all.min.css') }}">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			{{ include('home/_banner.html.twig') }}
			<h1>Tunkal Music</h1>
			{{ include('home/_socnet.html.twig') }}
			{{ include('home/_nav.html.twig') }}
		</header>

        <span id="scroll" title="Back to home">
	        <i class="fas fa-chevron-circle-up"></i>
        </span>

		<main>
		    {% for message in app.flashes('commentSuccess') %}
        		<div class="success">{{ message }}</div>
    		{% endfor %}
			{% block body %}{% endblock %}		
		</main>
		<footer>
			<p>&copy; {{ 'now' | date('Y') }} Tunkal</p>
		</footer>

		<script src="{{ asset('jquery/jquery.min.js')}}"></script>
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}
		{% endblock %}
	</body>
</html>
