{% extends 'home/base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Instagram #}
<meta property='og:title' content='{{ post.metaTitle ?? '' }}'>
<meta property='og:description' content='{{ post.metaDescription ?? '' }}'>
<meta property='og:url' content='{{ currentUrl }}'>
<meta property='og:type' content='website'>
{# Fin Instagram #}

<meta name='description' content='{{ post.metaDescription ?? '' }}'>

{{ include('home/_indexSchema.html.twig') }}

{% endblock %}

{% block title %}{{ post.metaTitle ?? '' }}{% endblock %}

{% block body %}

    <article class='index'>
        <h2>{{ post.title ?? '' }}</h2>
        <div>
            <div>{{ post.content|raw }}</div>
            
            {# Illustration article #}
            {% if post.images|length > 0 %}
                <img class='hover-shadow' data-currentslide='0'
                src='{{  asset('images/' ~ post.images[0].name )|imagine_filter('min300') }}' alt='{{ post.metaTitle ?? '' }}' data-image-path='{{ asset('images/' ~ post.images[0].name ) }}' >
            {% endif %}
            {# Fin Illustration article #}        
        </div>

        <!-- The Modal -->
        <div id='myModal' class='modal'>
            <span class='close'>&times;</span>
            <div class='mySlides'>
                <img src='{{ (post.images|length > 0) ? asset('images/' ~ post.images[0].name )|imagine_filter('min300') : '' }}' alt='{{ post.metaTitle ?? '' }}'>            
            </div>
        </div> 

        {# <p class='keywords'>
            {% for keyword in post.keywords %}
                #<strong>{{ keyword }}</strong>
            {% endfor %}
        </p> #}
    </article>

    <section class='tracks'>
        <h2>Listen Tunkal music on Youtube : </h2>
        <ul>
            {% for link in links()|filter( link =>  link.position == 'media' )|filter( link => link.uploadedAt != null ) %}
            <li>
                <a class='player' href='#' title='watch {{ link.title }} on Youtube' id='player{{ loop.index0 }}' data-videoid='{{ link.url }}'>
                    <img class='video' src='{{ asset('images/' ~ link.image )|imagine_filter('min300') }}' alt='Thumbnail of {{ link.title }} video'>
                    <img src='{{ asset('images/YouTube_23392.ico') }}' alt='logo Youtube'>
                </a>
            </li>
            {% endfor %}	
        </ul>
        <ul>
            {% for link in links()|filter( link =>  link.position == 'media' )|filter( link => link.uploadedAt == null ) %}
            <li>
                <a href='{{ 'https://youtu.be/'~ link.url }}' title='{{ link.title }}' target='_blank'>
                <img src='{{ asset('images/YouTube_23392.ico') }}' alt='{{ link.imageAlt }}'>&nbsp;{{ link.content }}</a> 
            </li>
            {% endfor %}
        </ul>
        <div>
        {% for link in links()|filter( link =>  link.position == 'copyright' ) %}
            <a href='{{ link.url }}' title='{{ link.title }}' target='_blank'><img src='{{ asset('images/' ~ link.image ) }}' alt='{{ link.imageAlt }}'></a>
        {% endfor %}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
	<script src='https://s.ytimg.com/yts/jsbin/www-widgetapi-vfl7r2f24/www-widgetapi.js' async defer></script>
    {{ encore_entry_script_tags('loadvideo') }}
{% endblock %}