{% extends 'home/base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Instagram #}
<meta property="og:title" content="{{ post.metaTitle ?? '' }}">
<meta property="og:description" content="{{ post.metaDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="website">
{# Fin Instagram #}

<meta name="description" content="{{ post.metaDescription ?? '' }}">
{% endblock %}

{% block title %}{{ post.metaTitle ?? '' }}{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    <div id="comment_sent"></div>

    <article class="post">
        <h2>{{ post.title ?? '' }}</h2>
        <p class="createdAt">Le <time datetime="{{ post.createdAt|date('Y-m-d') }}">{{ post.createdAt|date('d-m-Y') }}</time></p>
        <div class="postcontent">{{ post.content|raw }}</div>

        {# Illustration article #}
            {% for image in post.images %}
                <img class="hover-shadow" data-currentslide="{{ loop.index0 }}"
                src="{{ asset('images/' ~ image.name )|imagine_filter('min150') }}" alt="{{ post.metaTitle ?? '' }}" data-image-path="{{ asset('images/' ~ image.name ) }}" >
            {% endfor %}
        {# Fin Illustration article #}

        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <div class="mySlides">
                <img src="{{ post.images[0].name ? asset('images/' ~ post.images[0].name )|imagine_filter('min150') : '' }}" alt="{{ post.metaTitle ?? '' }}">
            </div>
            <!-- Next/previous controls -->
            {% if post.images|length > 1 %}
                <span class="prev" data-plus="-1">&#10094;</span>
                <span class="next" data-plus="1">&#10095;</span>            
            {% endif %}
        </div> 
    </article>

    <section id="comments" class="comments" data-slug="{{ post.slug }}" data-numberofpages="{{ numbOfCommentsPages }}">
        <h2>Commentaires</h2>
        <comment-list :comments="data"></comment-list>
        <comment-button :page="page" :numberofpages="numberofpages" @clicked="onCallComments" @clickedzero="zeroPage"></comment-button>
    </section>

    {# Formulaire commentaire #}
    <div>
        <h2>Écrire un commentaire</h2>
        {{ include('comments/_form.html.twig', {'button_label': 'Envoyer'}) }}
    </div>
    {# Fin Formulaire commentaire #}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('commentList') }}
{% endblock %}