{% extends 'home/base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
{# Instagram #}
<meta property="og:title" content="{{ post.metaTitle ?? '' }}">
<meta property="og:description" content="{{ post.metaDescription ?? '' }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:type" content="website">
{# Fin Instagram #}

<meta name="description" content="{{ post.metaDescription ?? '' }}">

{{ include('home/_postSchema.html.twig') }}

{% endblock %}

{% block title %}{{ post.metaTitle ?? '' }}{% endblock %}

{% block body %}

    <article class="post">
        <h2>{{ post.title ?? '' }}</h2>
        <p class="createdAt">Le <time datetime="{{ post.createdAt|date('Y-m-d') }}">{{ post.createdAt|date('d-m-Y') }}</time></p>
        <div class="postcontent">{{ post.content|raw }}</div>

        {{ include('home/_diaporama.html.twig') }}
    </article>

    {{ include('home/_commentsList.html.twig') }}

    {# Formulaire commentaire #}
    <div>
        <h2>Écrire un commentaire</h2>
        {{ include('home/_commentform.html.twig') }}
    </div>
    {# Fin Formulaire commentaire #}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('comments') }}
{% endblock %}