<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteLink{{ link.id }}ModalCenter">
   <i class="fas fa-trash"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteLink{{ link.id }}ModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteLink{{ link.id }}ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLink{{ link.id }}ModalLongTitle">Suppression du lien <span class="font-italic">{{ link.title }}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                La suppression du lien <span class="font-italic">{{ link.title }}</span> sera irréversible.
                Voulez-vous vraiment supprimer ce lien ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <form method="post" action="{{ path('links_delete', {'id': link.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
