
{% set apiUrls = []  %}
{% set apiUrls = apiUrls|merge( {'post': absolute_url(path('give_posts')) })  %}
{% set apiUrls = apiUrls|merge( {'category': absolute_url(path('give_categories')) })  %}
<div id="linkForm">
	{{ form_start(form) }}

	{{ form_row(form.position) }}
	{{ form_row(form.position_order) }}
	{{ form_row(form.is_active) }}
	{{ form_row(form.type, {'attr': { 'v-on:change': 'onGetLinkType' }}) }}

	<categories-posts-fields :fieldtype="type" data-apiurl="{{ apiUrls|json_encode }}" data-_token="{{ csrf_token('links') }}" @clicked="onClickChild"></categories-posts-fields>

	{{ form_row(form.url, {'attr': { ':value': 'selectFieldValue' }}) }}
	{{ form_row(form.title) }}
	{{ form_row(form.image_alt) }}
	{{ form_row(form.content) }}
	{{ form_row(form.imageFile) }}
	{{ form_row(form.uploaded_at) }}

	<button class="btn btn-success my-5">{{ button_label|default('Valider') }}</button>
	{{ form_end(form) }}
</div>

{% block javascripts %}
	{{ encore_entry_script_tags('linkForm') }}
{% endblock %}