{% extends 'base-admin.html.twig' %}

{% block title %}Lien : "{{ link.url }}"{% endblock %}
{% block h1 %}Lien : "{{ link.url }}"{% endblock %}
{% block entity %}Liens{% endblock %}
{% block body %}
    <table class="table">
        <tbody>

            <tr>
                <th>Url</th>
                <td>{{ link.url }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ link.content }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ link.type }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{{ asset('images/'~ link.image ) | imagine_filter('min300') }}" alt="{{ link.imageAlt }}">
                </td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ link.imageAlt }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ link.position }}</td>
            </tr>
            <tr>
                <th>Ordre d'apparition</th>
                <td>{{ link.positionOrder }}</td>
            </tr>
            <tr>
                <th>Lien actif ?</th>
                <td>{{ link.isActive ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('links_index') }}" class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('links_edit', {'id': link.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>

    {{ include('links/_delete_form.html.twig') }}
{% endblock %}
