<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCourriel{{ courriel.id }}ModalCenter">
   <i class="fas fa-trash"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteCourriel{{ courriel.id }}ModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteCourriel{{ courriel.id }}ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCourriel{{ courriel.id }}ModalLongTitle">Suppression du courriel de <span class="font-italic">"{{ courriel.name }}"</span> du <span class="font-italic">{{ courriel.sentAt|date('d-m-Y H:i:s') }}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                La suppression du courriel de <span class="font-italic">"{{ courriel.name }}"</span> du <span class="font-italic">{{ courriel.sentAt|date('d-m-Y H:i:s') }}</span> sera irréversible.
                Voulez-vous vraiment supprimer ce courriel ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <form method="post" action="{{ path('courriels_delete', {'id': courriel.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ courriel.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>