<!-- Button trigger modal -->
<button class="btn btn-danger" data-toggle="modal" data-target="#deleteUser{{ user.id }}ModalCenter">
  <i class="fas fa-trash"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteUser{{ user.id }}ModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteUser{{ user.id }}ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUser{{ user.id }}ModalLongTitle">Suppression de l'utilisateur <span class="font-italic">{{ user.email }}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                La suppression de l'utilisateur <span class="font-italic">{{ user.email }}</span> sera irréversible.
                Voulez-vous vraiment supprimer cet utilisateur ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <form method="post" action="{{ path('users_delete', {'id': user.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
